---
http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/suggest?limit=100&q=Cercis%20canadensis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Gbif/v0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"key":5353583,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Fabales","family":"Fabaceae","genus":"Cercis","species":"Cercis
        canadensis","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1370,"familyKey":5386,"genusKey":2955919,"speciesKey":5353583,"parent":"Cercis","parentKey":2955919,"nubKey":5353583,"scientificName":"Cercis
        canadensis L.","canonicalName":"Cercis canadensis","rank":"SPECIES","status":"ACCEPTED","higherClassificationMap":{"6":"Plantae","7707728":"Tracheophyta","220":"Magnoliopsida","1370":"Fabales","5386":"Fabaceae","2955919":"Cercis"},"synonym":false,"class":"Magnoliopsida"},{"key":7371750,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Fabales","family":"Fabaceae","genus":"Cercis","species":"Cercis
        canadensis","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1370,"familyKey":5386,"genusKey":2955919,"speciesKey":7371750,"parent":"Cercis","parentKey":2955919,"scientificName":"Cercis
        canadensis Castigl.","canonicalName":"Cercis canadensis","rank":"SPECIES","status":"DOUBTFUL","higherClassificationMap":{"6":"Plantae","7[...]
