---
http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/suggest?limit=100&q=Dicentra%20spectabilis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Gbif/v0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"key":7606812,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Ranunculales","family":"Papaveraceae","genus":"Lamprocapnos","species":"Lamprocapnos
        spectabilis","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":399,"familyKey":2422,"genusKey":2888563,"speciesKey":2888564,"parent":"Lamprocapnos","parentKey":2888563,"scientificName":"Dicentra
        spectabilis (L.) Lem.","canonicalName":"Dicentra spectabilis","rank":"SPECIES","status":"HOMOTYPIC_SYNONYM","higherClassificationMap":{"6":"Plantae","7707728":"Tracheophyta","220":"Magnoliopsida","399":"Ranunculales","2422":"Papaveraceae","2888563":"Lamprocapnos","2888564":"Lamprocapnos
        spectabilis"},"synonym":true,"class":"Magnoliopsida"}]'
  recorded_at: Sat, 24 Apr 2021 20:14:46 GMT
recorded_with: VCR 6.0.0
