---
http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/?data=all&key=2704432&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Gbif/v0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"results":[{"key":0,"nubKey":0,"nameKey":41091075,"taxonID":"gbif:0","sourceTaxonKey":0,"kingdom":"incertae
        sedis","kingdomKey":0,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","scientificName":"incertae
        sedis","canonicalName":"incertae sedis","authorship":"","nameType":"PLACEHOLDER","rank":"KINGDOM","origin":"SOURCE","taxonomicStatus":"DOUBTFUL","nomenclaturalStatus":[],"remarks":"","numDescendants":6900,"lastCrawled":"2021-03-03T06:32:33.335+0000","lastInterpreted":"2021-03-03T06:29:25.158+0000","issues":[],"synonym":false},{"key":1,"nubKey":1,"nameKey":40736507,"taxonID":"gbif:1","sourceTaxonKey":1,"kingdom":"Animalia","kingdomKey":1,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","scientificName":"Animalia","canonicalName":"Animalia","authorship":"","nameType":"SCIENTIFIC","rank":"KINGDOM","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":2784829,"lastCrawled":"2021-03-03T06:32:33.335+0000","last[...]
